<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ToDo Api" verbose="1">
    <test name="smoke">
        <groups>
            <run>
                <exclude name="auth"/>
                <include name="todo"/>
            </run>
        </groups>
        <classes>
            <class name="toDo.testcases.UsersTest">
                <!--                <methods>-->
                <!--                    <include name="registerNewUserTC"/>-->
                <!--                    <exclude name="registerExistedUserTC"/>-->
                <!--                    <exclude name="loginValidUserTC"/>-->
                <!--                    <exclude name="loginInValidUserTC"/>-->
                <!--                </methods>-->
            </class>
            <class name="toDo.testcases.ToDoTest">
                <!--                <methods>-->
                <!--                    <exclude name="addToDoTC"/>-->
                <!--                    <exclude name="getToDoTC"/>-->
                <!--                    <exclude name="deleteToDoTC"/>-->
                <!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>


