<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ToDo Api" verbose="1">
    <test name="smoke">
        <groups>
            <run>
                <include name="auth"/>
                <include name="todo"/>
            </run>
        </groups>
        <classes>
            <class name="users.UsersTest"/>
            <class name="tasks.TasksTest"/>
        </classes>
    </test>
</suite>


